@import 'tailwindcss';

@config "../tailwind.config.ts";

@source "../pages";
@source "../widgets";
@source "../features";
@source "../entities";
@source "../shared";

body {
	background-color: #09090b;
	color: #e4e4e7;
	background-image: radial-gradient(rgba(39, 39, 42, 0.3) 1px, transparent 1px);
	background-size: 24px 24px;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #27272a;
	border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
	background: #3f3f46;
}
